<!DOCTYPE html>
<html>
  <head>
    <title>Controllo Robot</title>
    <link rel="stylesheet" href="./static/style.css">
  </head>
  <body>
    <h1 align="center">CONTROLLO ROBOT</h1>
    
    <header>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">Controls</a></li>
          <li><a href="#settings">Settings</a></li>
        </ul>
      </nav>
    </header>

    <div id="controls">
      <form method="POST" action="">
        <input type="submit" value="AVANTI" name="avanti"/>
        <br>
        
        <input type="submit" value="SINISTRA" name="sinistra"/>
        
        <input type="submit" value="DESTRA" name="destra"/>
        <br>
        <input type="submit" value="INDIETRO" name="indietro"/>
        <br>
    </form>

      <br><br><br>
      <button id="quad">QUAD</button>
      <button id="cerchio">CERCHIO</button>
    </div>
    <footer>
      <p>Creato da: Olivero Tommaso e Coppola Mattia</p>
    </footer>
  </body>
</html>

